{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/footer.css') }}"/>
{% endblock %}
<footer>
    <div class="footerDiv">
        <div class="content">
            <h2><span id="lg">AR</span>CARS</h2>
            <p>ARCARS is a Tunisian car rental website that facilitates renting cars with the lowest price</p>
        </div>
        <div class="content">
            <h2>Contact</h2>
            <ul>
                <li>Email:arcars@hotmail.fr</li>
                <li>Phone:+21626922402</li>
                <li>Address: Souuse Tafla</li>
            </ul>
        </div>
    </div>
    <div class="copyright">
        ©Copyright ARCars 2020
    </div>
</footer>
