{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/header.css') }}"/>
{% endblock %}
   <header>
       <div class="headerText">
           <p>RENT A CAR WITH THE CHEAPEST PRICE</p>
       </div>
   </header>
